
.cms .ss-gridfield > div.ss-gridfield-buttonrow-before {
	margin-bottom: 10px;
	overflow: auto;
}

/**
 * Styles for page steps
 */
.cms table.ss-gridfield-table .ss-gridfield-inline-new.uf-gridfield-steprow,
.cms table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFormStep'],
.cms table.ss-gridfield-table .ss-gridfield-inline-new.uf-gridfield-steprow:hover,
.cms table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFormStep']:hover
{
	background: #dae2e7;
}

.cms table.ss-gridfield-table .ss-gridfield-inline-new.uf-gridfield-steprow label,
.cms table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFormStep'] label
{
	font-weight: bold;
	color: #393939;
	font-size: 1.1em;
}