/**
 * Animations
 */
@keyframes rowSlide {
  0% {
    top: 20%;
  }
  100% {
    top: 80%;
  }
}
@keyframes flashBackground {
  0% {
    background-color: white;
  }
  10% {
    background-color: #dcfedd;
  }
  70% {
    background-color: #dcfedd;
  }
}
/**
 * Styles for cms
 */
.cms .uf-field-editor {
  padding-bottom: 0;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item {
  height: 46px;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item, .cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item:hover {
  background: white;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item td {
  border-right-width: 0;
  border-top: 1px solid #EEE;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item td:last-child {
  border-right-width: 1px;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item .handle {
  min-height: 46px;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item.newField {
  position: fixed;
  animation: rowSlide .5s ease forwards;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item.flashBackground {
  animation: flashBackground 2s linear;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item.ui-sortable-placeholder {
  height: 50px;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup, .cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup:hover {
  background: #f2f9fd;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup td {
  border-bottom: 0;
  border-top: 1px solid #eee;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup .col-reorder, .cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup .handle {
  background: #BEE0F8;
  border-top: 0;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup.inFieldGroup-level-2 .col-reorder, .cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup.inFieldGroup-level-2 .handle {
  background: #99CEF4;
  border-top: 0;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup.inFieldGroup-level-3 .col-reorder, .cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item.inFieldGroup.inFieldGroup-level-3 .handle {
  background: #89BEF4;
  border-top: 0;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFormStep'], .cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFormStep']:hover {
  background: #dae2e7;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFormStep'] label {
  font-weight: bold;
  color: black;
  font-size: 1.1em;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFormStep'] td {
  border-top: 1px solid #a6b6c1;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFormStep'] + .ss-gridfield-item td {
  border-top: 1px solid #dae2e7;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFormStep'] + .ss-gridfield-item[data-class='EditableFieldGroup'] td {
  border-top: 1px solid #a8d7f5;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFieldGroup'] td {
  border-top: 1px solid #a8d7f5;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFieldGroup'] label {
  font-weight: bold;
  color: #444;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFieldGroupEnd'] td {
  border-bottom: 1px solid #a8d7f5;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFieldGroupEnd'] + .ss-gridfield-item[data-class='EditableFieldGroupEnd'] {
  border-top: 0;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFieldGroupEnd'] .col-buttons .action {
  display: none;
}
.cms .uf-field-editor table.ss-gridfield-table .ss-gridfield-item[data-class='EditableFieldGroupEnd'] label {
  color: #777;
}
.cms .uf-field-editor .stickyButtons {
  position: fixed;
  top: 40px;
  z-index: 2;
  background: #E6EAED;
  box-shadow: 0 12px 4px -8px #999;
  padding: 12px;
  margin-left: -12px;
}
.cms .uf-field-editor .stickyButtons button.action {
  margin-bottom: 0;
}
.cms .uf-field-editor .stickyButtons ~ .ss-gridfield-table {
  margin-top: 40px;
}
