/**
 * Lightweight base styles for the front-end form.
 */
.userform-progress .progress {
  position: relative;
  height: 1em;
  background: #eee;
}
.userform-progress .progress .progress-bar {
  position: absolute;
  height: 1em;
  background: #666;
}
.userform-progress .step-buttons {
  margin-left: 0;
  position: relative;
}
.userform-progress .step-buttons .step-button-wrapper {
  display: inline-block;
  list-style-type: none;
}
.userform-progress .step-button-jump {
  position: absolute;
  top: 0;
}

.step-navigation .step-buttons {
  margin-left: 0;
}
.step-navigation .step-buttons .step-button-wrapper {
  display: inline-block;
  list-style-type: none;
}

.userform {
  clear: both;
}
