/**
 * Lightweight base styles for the front-end form.
 */
.userform-progress .progress {
  position: relative;
  height: 1em;
  background: #eee;
}
.userform-progress .progress-bar {
  position: absolute;
  height: 1em;
  background: #666;
}
.userform-progress .step-buttons {
  margin-left: 0;
  position: relative;
}
.userform-progress .step-button-wrapper {
  display: inline-block;
  list-style-type: none;
}
.userform-progress .step-button-wrapper.viewed .step-button-jump {
  opacity: 1;
}
.userform-progress .step-button-jump {
  position: absolute;
  top: 0;
  opacity: .7;
}

.step-navigation .step-buttons {
  margin-left: 0;
}
.step-navigation .step-button-wrapper {
  display: inline-block;
  list-style-type: none;
}

.userform {
  clear: both;
  width: 100%;
  max-width: 100%;
}
.userform .field label.right {
  color: #555;
}

.userformsgroup {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.userformsgroup > legend {
  padding-left: 4px;
  padding-right: 4px;
  border: 0;
  width: auto;
}

.right-title {
  clear: both;
  display: block;
}

.checkbox .right-title {
  display: inline;
}

.userform .left {
  margin-bottom: 5px;
  font-weight: bold;
}
