/**
 * Styles for cms
 */

.cms {
	.ss-gridfield > div.ss-gridfield-buttonrow-before {
		margin-bottom: 10px;
		overflow: auto;
	}

	table.ss-gridfield-table {
		.ss-gridfield-item[data-class='EditableFormStep'] {
			&, &:hover {
				background: #dae2e7;
			}

			label {
				font-weight: bold;
				color: #444;
				font-size: 1.1em;
			}
		}

		.ss-gridfield-item[data-class^='EditableFieldGroup'] {
			&, &:hover {
				background: #E7EFF4;
			}

			label {
				font-weight: bold;
			}
		}

		.ss-gridfield-item[data-class='EditableFieldGroupEnd'] {
			.col-Title input {
				display: none;
			}
		}

		.ss-gridfield-item.inFieldGroup {
			.col-reorder,
			.handle {
				background: #E7EFF4;
			}
		}
	}
}



