// Lightweight base styles for the front-end form.

.userform-progress {
  .progress {
    position: relative;
    height: 1em;
    background: $gray-lighter;
  }

  .progress-bar {
    position: absolute;
    height: 1em;
    background: $gray-progress-bg;
  }

  .step-buttons {
    margin-left: 0;
    position: relative;
  }

  .step-button-wrapper {
    display: inline-block;
    list-style-type: none;

    &.viewed .step-button-jump {
      opacity: 1;
    }
  }

  .step-button-jump {
    position: absolute;
    top: 0;
    opacity: .7;
  }
}

.step-navigation {
  .step-buttons {
    margin-left: 0;
  }

  .step-button-wrapper {
    display: inline-block;
    list-style-type: none;
  }
}

.userform {
  clear: both;
  width: 100%;
  max-width: 100%;

  .field label.right {
    color: $gray-dark-label;
  }
}

.userformsgroup {
  border: 1px solid $gray-light-border;
  border-radius: $padding-xs;
  padding: $padding-base-horizontal;
  margin-top: $padding-base;
  margin-bottom: $padding-base;

  > legend {
    padding-left: $padding-xs;
    padding-right: $padding-xs;
    border: 0;
    width: auto;
  }
}

.right-title {
  clear: both;
  display: block;
}

.checkbox .right-title {
  display: inline;
}

.userform .left {
  margin-bottom: $padding-sm;
  font-weight: bold;
}
