// Lightweight base styles for the front-end form.

.userform-progress {
  .progress {
    position: relative;
    height: 1em;
    background: $gray-200;
  }

  .progress-bar {
    position: absolute;
    height: 1em;
    background: $gray-600;
  }

  .step-buttons {
    margin-left: 0;
    position: relative;
  }

  .step-button-wrapper {
    display: inline-block;
    list-style-type: none;

    &.viewed .step-button-jump {
      opacity: 1;
    }
  }

  .step-button-jump {
    position: absolute;
    top: 0;
    opacity: .7;
  }
}

.step-navigation {
  .step-buttons {
    margin-left: 0;
  }

  .step-button-wrapper {
    display: inline-block;
    list-style-type: none;
  }
}

.userform {
  clear: both;
  width: 100%;
  max-width: 100%;

  .hide {
    display: none;
  }

  .field label.right {
    color: $gray-800;
  }
}

.userformsgroup {
  border: 1px solid $gray-300;
  border-radius: 4px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;

  > legend {
    padding-left: 4px;
    padding-right: 4px;
    border: 0;
    width: auto;
  }
}

.right-title {
  clear: both;
  display: block;
}

.checkbox .right-title {
  display: inline;
}

.userform .left {
  margin-bottom: 5px;
  font-weight: bold;
}
